@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600&family=Livvic:wght@600&display=swap");

/* nav bar is in  Nav.css.... */

html,
body {
    height: 100%;
    background: #fff;
    color: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 60%;
    max-width: 900px;
    /* height: 100px; */
}

#keyword {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: none;

    /* transition: transform 250ms ease-in-out; */
    font-size: 31px;

    color: rgb(18, 18, 18);
    background-color: #f6f6f6;
    border: 2px solid #e6e6e6;

    /* Search Icon */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 98% center;
    border-radius: 20px;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin: 40px auto;
}

#csubr {
	display: none;
}

div {
	padding: 10px;
	margin: 5px;
}
input,
select,
option {
	padding: 5px;
}
select {
	width: 150px;
}

input::placeholder {
    color: rgb(89, 89, 89);
}

h1 {
    /* Keyword Tracker */

    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 92px;
    text-align: center;
    letter-spacing: 0.045em;

    color: #000000bc;
}
h2 {
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #000000bc;
}

label {
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #000000bc;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 80%;
    margin: auto;
}

button {
    padding: 12px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    font-family: "K2D", sans-serif;
    font-size: 21px;
}

.buttons img {
    border-radius: 10px;
}

.search {
    color: #3a559f;
    border-radius: 20px;
}

@media only screen and (max-width: 1080px) {
    .buttons img {
        width: 30px;
    }
}

@media only screen and (max-width: 969px) {
    .content {
        width: 90%;
    }
    input {
        font-size: 20px;
        padding: 15px 15px;
        font-size: 21px;
        border-radius: 10px;
        background-size: 25px 25px;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .buttons {
        justify-content: space-between;
        width: 35%;
        margin: auto;
    }
    button {
        /* font-size: 10px; */
        width: 20%;
        margin-bottom: 20px;
        background: transparent;
        box-shadow: none;
    }
    .buttons img {
        width: 50px;
    }
    button span {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .buttons {
        width: 50%;
    }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.error {
    color: red;
    text-align: center;
}

hr{
    border: 0;
    margin: 0;
    width: 100%;
    height: 1px;
    background: #D3D3D3;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
