/* Nav Functionality */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background: rgb(159,193,205);
    background: linear-gradient(112deg, rgba(159,193,205,1) 0%, rgba(50,96,155,1) 80%, rgba(91,96,160,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px rgb(163, 163, 163);
    padding: 20px 30px;
}

/*  */
a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: block;
    margin-left: 20px;
    font-size: 20px;
    font-family: "K2D", sans-serif;
    margin-top: 10px;
    padding: 5px;

}

.right {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #383838;
}

a.menu {
    display: none;
}

a.menu img {
    width: 40px;
}

@media screen and (max-width: 600px) {
    .brand-logo {
        font-size: 23px;
        /* justify-content: flex-start; */
    }

    nav.responsive {
        flex-direction: column;
    }
    .right ul {
        display: none;
    }

    a.menu {
        display: block;
        margin: 10px;
        position: relative;
        filter: brightness(0);
    }
    a.menu {
        position: absolute;
        top: 10px;
        right: 5px;
        transition: 0.5s ease;
    }
    .responsive .right ul {
        display: block;
        text-align: center;
        width: 100vw;
        margin-top: 10px;
        transition: 0.1s ease;
        height: 10vh;
    }
    .responsive .right li {
        width: 100%;
        margin-left: -2px;
        height: 50%;
    }
    .responsive .right li a {
        width: 100vw;
        margin-top: 10px;
        list-style: none;
        text-decoration: none;
    }
}
