@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600;800&family=Livvic:wght@600&display=swap");
html,
body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: rgb(159,193,205);
    background: linear-gradient(112deg, rgba(159,193,205,1) 0%, rgba(50,96,155,1) 80%, rgba(91,96,160,1) 100%);
    height: 10%;
}

.container {
    height: 100vh;
    padding: 0 30px;
    padding-top: 120px;
}

.bNav {
    clear: left;
    float: bottom;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "K2D", sans-serif;
    color: #e3e3e3;
}

.title {
    font-size: 25px;
    font-family: "K2D", sans-serif;
    font-weight: 600;
    color: #545454;
    margin-left: 20px;
    /* text-align: center; */
    margin-bottom: 40px;
}

.title span {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: -10px;
    margin-left: 2px;
}

.graph {
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 20px;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 20px #737272;
}

.information {
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 20px;
    grid-gap: 5px;
    grid-auto-flow: column;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 20px #737272;
    font-family: "K2D", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

/* Responsive */
@media only screen and (max-width: 969px) {
    .container {
        padding: 0 20px;
        padding-top: 100px;
    }
    .title {
        font-size: 25px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
    .title span {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .graph {
        width: 100%;
        padding: 5px;
        margin-bottom: 50px;
    }
}
