@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600;800&family=Livvic:wght@600&display=swap");
html,
body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    padding: 0 30px;
    padding-top: 120px;
}

nav {
    z-index:999;
    background: rgb(159,193,205);
    background: linear-gradient(112deg, rgba(159,193,205,1) 0%, rgba(50,96,155,1) 80%, rgba(91,96,160,1) 100%);
    height: 10%;
}

.bNav {
    clear: left;
    float: bottom;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "K2D", sans-serif;
    color: #e3e3e3;
}

.title {
    font-size: 25px;
    font-family: "K2D", sans-serif;
    font-weight: 600;
    color: #545454;
    margin-left: 20px;
    /* text-align: center; */
    margin-bottom: 40px;
}

.title span {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: -10px;
    margin-left: 2px;
}

.boxes {
    display: inline;
    grid-gap: 5px;
    grid-auto-flow: row;
    justify-content: center;
    width: 15%;
    margin: 0 0 0 auto;
    margin-bottom: 50px;
    float: right;

}

.box {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    max-width: 400px;
    padding: 10px 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.box h1 {
    font-size: 20px;
    font-family: "K2D", sans-serif;
    font-weight: 400;
}

.box p {
    font-size: 28px;
    font-family: "K2D", sans-serif;
    font-weight: 600;
    color: #02b0a7;
}

.graph {
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 20px;
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: column;
    width: 49.5%;
    height: 52.5%;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
    float: right;
    box-shadow: 0 0 20px #737272;
}

.bubbletable {
    display: grid;
    grid-gap: 5px;
    width: 49.5%;
    height:52.5%;
    overflow-y: auto;
    text-align: left;
    /* width: fit-content; */
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    float: left;
    clear:left;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.bubbletable * {
	margin: 0px;
	box-sizing: border-box;
}

.bubbletable table {
	border-collapse: separate;
	font-size: 13px;
	background-color: #f6f6f6;
	border-spacing: 0;
	table-layout: fixed;
    color: black;
}

table thead tr th {
	padding: 18px 24px;
	border-bottom: 1px solid #1c1c1c;
	position: sticky;
	top: 0;
    background-color: #e6e6e6;
    font-family: "K2D", sans-serif;
}

table tfoot {
    padding: 18px 24px;
	border-bottom: 1px solid #1c1c1c;
	position: sticky;
	bottom: 0;
    background-color: #e6e6e6;
    font-family: "K2D", sans-serif;
}
table tbody tr td {
	padding: 11px 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "K2D", sans-serif;
}

table thead {
    width: 100%;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.timelineChart {
    width: 49.5%;
    height: 52.5%;
    overflow-y: auto;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    background-color: #f6f6f6;
    float: left;
    clear: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.countryGraph {
    width: 49.5%;
    height: 52.5%;
    overflow-y: auto;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    background-color: #f6f6f6;
    float: left;
    margin-bottom: 10px;
}

.scatterGraph {
    width: 49.5%;
    height: 52.5%;
    overflow-y: auto;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    background-color: #f6f6f6;
    float: left;
    margin-bottom: 10px;
}

.usernameCloud {
    width: 49.5%;
    height: 52.5%;
    overflow-y: auto;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    background-color: #f6f6f6;
    float: left;
    margin-bottom: 10px;
}

.wordCloud {
    width: 49.5%;
    height: 52.5%;
    overflow-y: auto;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px #737272;
    background-color: #f6f6f6;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.boxes {
    display: grid;
    grid-gap: 25px;
    grid-auto-flow: column;
    justify-content: center;
    margin: 0 0 0 auto;
    margin-bottom: 50px;
}

.counter{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #fff;
    text-align: center;
    width: 190px;
    padding: 25px 30px 10px;
    margin: 0 auto;
    border-radius: 30px 0 ;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
}

.counter:before{
    content: "";
    background: #51d658;
    border-radius: 15px 0 30px 0;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.15);
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 27px;
    z-index: -1;
}

.counter .counter-icon{
    font-size: 35px;
    margin: 0 0 10px;
    transform: rotateX(0deg);
    transition: all 0.3s ease 0s;
}

.counter:hover .counter-icon{
    transform: rotateX(360deg);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.counter h3{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

.counter .counter-value{
    color: #666;
    background: #fff;
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    line-height: 60px;
    width: 90%;
    height: 50px;
    padding: 0 15px;
    margin: 0 0 0 -20px;
    display: block;
}

.counter.blue:before{ background-color: #55ACEE; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

.counter.orange:before{ background-color: #FF5700; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

.counter.black:before{ background-color: #15487B; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

#searchBar {
    background-image: url('../images/search.png'); /* Add a search icon to input */
    /* background-position: 10px 12px; Position the search icon */
    background-repeat: no-repeat; /*  Do not repeat the icon image */
    background-size: auto;
    width: 49.5%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 10px;
    background-color: white;
    float: left;
}

.headingOne{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.headingTwo{
    display: flex;
    padding-top: 2%;
    width: 100%;
    justify-content: space-around;
}

.headingThree{
    display: flex;
    padding-top: 2%;
    width: 50%;
    justify-content: center;
}

#wordcloudname {
    margin-left: 10px;
}

.button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.row{
	width:100%;
	margin-bottom:30px;
}
.cell{
	width:49%;
	display:inline-block;
}

/* Responsive */
@media only screen and (max-width: 969px) {
    .container {
        padding: 0 20px;
        padding-top: 100px;
    }
    .title {
        font-size: 25px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }
    .title span {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .boxes {
        display: grid;
        grid-gap: 20px;
        grid-auto-flow: row;
        width: 100%;
        margin: 0 0 0 auto;
        margin-bottom: 50px;
        padding: 0 30px;
    }
    .box h1 {
        font-size: 40px;
    }
    .box p {
        font-size: 30px;
    }
    .graph {
        width: 100%;
        padding: 5px;
        margin-bottom: 50px;
    }
    .bubbletable{
        width: 100%;
        margin-bottom: 50px;
    }
    .usernameCloud{
        width: 100%;
    }
    .timelineChart{
        width: 100%;
        margin-bottom: 50px;
    }
	.wordCloud{
		width: 100%;
	}
    #searchBar{
        margin-top:50px;
    }
    .headingOne {
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-between;
        height: 70%;
        position: absolute;
        float: top;

    }
    .headingTwo {
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-between;
        height: 60%;
        position: absolute;
        margin-top: 61.25em;
    }
    .headingThree {
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-between;
        height: 60%;
        position: absolute;
        margin-top: 61.25em;
    }
	
    #timelineName{
        margin-right: 0px;
        margin-left: 0px;
    }
	.row{
	width:100%;
	margin-bottom:30px;
	}
	.cell{
		width:100%;
		display:inline-block;
	}
}

.counter{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #fff;
    text-align: center;
    width: 190px;
    padding: 25px 30px 10px;
    margin: 0 auto;
    border-radius: 30px 0 ;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.05);
	display:inline-block;
}

.counter:before{
    content: "";
    border-radius: 15px 0 30px 0;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.15);
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 27px;
}

.counter .counter-icon{
    font-size: 35px;
    margin: 0 0 10px;
    transform: rotateX(0deg);
    transition: all 0.3s ease 0s;
}

.counter:hover .counter-icon{
    transform: rotateX(360deg);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.counter h3{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

.counter .counter-value{
    color: #666;
    background: #fff;
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    line-height: 60px;
    width: 90%;
    height: 50px;
    padding: 0 15px;
    margin: 0 0 0 -20px;
    display: block;
}