<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tracking Online Chatter 🔍</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/nav.css" />
        <link
            type="image/png"
            sizes="96x96"
            rel="icon"
            href="/static/images/keyword.png"
        />
    </head>
    <body>
        <nav>
            <a href="/" class="brand-logo">Tracking Online Chatter</a>
            <a class="menu" onclick="makeRespo()">
                <img src="/static/images/menu.png" alt="Menu" />
            </a>
            <div class="right">
                <ul>
                    <li>
                        <a href="/converter">Converter</a>
                    </li>
                    <li>
                        <a href="/relationships">Relationships</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div id="overlay">
                <div class="loader"></div>
            </div>
            <div class="content">
                <h1>Tracking Online Chatter</h1>
                <form
                    method="POST"
                    id="search"
                    action="/results"
                    enctype="multipart/form-data"
                >
                    <input
                        type="text"
                        id="keyword"
                        name="keyword"
                        placeholder="Search for keyword..."
                    />
                    <hr />
                    <br />
                    <h2>Advanced Options</h2>
                    <br />
                    <table class="center">
                        <tr>
                            <td style="text-align: center">
                                <input
                                    type="checkbox"
                                    name="twitter"
                                    value="twitter"
                                    id="twitter"
                                    checked
                                /><label for="twitter" id="twitterLabel">
                                    Twitter</label
                                >
                            </td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="reddit"
                                    value="reddit"
                                    id="reddit"
                                    checked
                                /><label for="reddit" id="redditLabel">
                                    Reddit</label
                                >
                            </td>
                            <td style="text-align: right">
                                <input
                                    type="checkbox"
                                    name="pastebin"
                                    value="pastebin"
                                    id="pastebin"
                                    checked
                                /><label for="pastebin" id="pastebinLabel">
                                    Pastebin</label
                                >
                            </td>
                        </tr>
                        <tr id="csubrtexttr">
                            <td>
                                <label
                                    class="tooltip"
                                    for="csubrtext"
                                    id="csubrtextLabel"
                                    >Enter Subreddit(s)<img
                                        src="/static/images/i.png"
                                        width="20px"
                                    />:
                                    <span class="tooltiptext"
                                        >(Optional) To search multiple
                                        subreddits, use commas as delimiters.
                                        For eg: hacking,sysadmin</span
                                    >
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="text"
                                    name="csubrtext"
                                    id="csubrtext"
                                    placeholder="Leave blank for default"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="tRan">Time Range: </label></td>
                            <td colspan="2">
                                <select name="timeRangeDrop" id="tRan" style="width: 177px;">
                                    <option value="" disabled selected hidden >
                                        Time Range..
                                    </option>
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="lastSeven">
                                        Last 7 days
                                    </option>
                                    <option value="lastThirty">
                                        Last 1 month
                                    </option>
                                    <option value="lastNinty">
                                        Last 3 months
                                    </option>
                                    <option value="lastSixMth">
                                        Last 6 months
                                    </option>
                                    <option value="lastOneYr">
                                        Last 1 year
                                    </option>
                                    <option value="custom">Custom</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="customTimeStartTr" hidden>
                            <td>
                                <label id="from" style="text-align: right"
                                    >From:
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="date"
                                    name="customTimeStart"
                                    id="customTimeStart"
                                />
                            </td>
                        </tr>
                        <tr id="customTimeEndTr" hidden>
                            <td>
                                <label id="to" style="text-align: right"
                                    >To:
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="date"
                                    name="customTimeEnd"
                                    id="customTimeEnd"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    class="tooltip"
                                    for="depth"
                                    style="text-align: right"
                                    >Depth<img
                                        src="/static/images/i.png"
                                        width="20px"
                                    />:
                                          <span class="tooltiptext" data-html="true">
                                              Quick: 10000;  <br />
                                              Standard: 50000; <br />
                                              Deep: 100000; iterations
                                          </span>
                                </label>
                            </td>
                            <td colspan="2">
                                <select name="depthDrop" id="depth" style="width: 177px;">
                                    <option value="" disabled selected hidden>
                                        Depth..
                                    </option>
                                    <option value="quick">Quick</option>
                                    <option value="standard">Standard</option>
                                    <option value="deep">Deep</option>
                                    <option value="custom_depth">Custom</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="customDepthTr" hidden>
                            <td>
                                <label
                                    id="customDepthLabel"
                                    style="text-align: right"
                                    >Custom Depth:
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="number"
                                    name="customDepth"
                                    id="customDepth"
                                    placeholder="Custom Depth"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    class="tooltip"
                                    for="refinement"
                                    style="text-align: right"
                                    >Refinement<img
                                        src="/static/images/i.png"
                                        width="20px"
                                    />:
                                    <span class="tooltiptext"
                                        >(Optional) To further refine search
                                        results with another keyword</span
                                    >
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="text"
                                    name="refinement"
                                    id="refinement"
                                    placeholder="Optional keyword"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label
                                    class="tooltip"
                                    for="file"
                                    style="text-align: right"
                                    >File Upload<img
                                        src="/static/images/i.png"
                                        width="20px"
                                    />:
                                    <span class="tooltiptext"
                                        >(Optional) Able to accept multiple
                                        feather files from past results</span
                                    >
                                </label>
                            </td>
                            <td colspan="2">
                                <input
                                    type="file"
                                    name="file"
                                    id="file"
                                    multiple
                                />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center">
                                <input
                                    type="checkbox"
                                    name="disableScraping"
                                    value="disableScraping"
                                    id="disableScraping"
                                    disabled
                                /><label
                                    for="disableScraping"
                                    id="disableScrapingLabel"
                                >
                                    Disable Scraping</label
                                >
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div class="buttons">
                        <button
                            id="SearchSubmit"
                            type="submit"
                            disabled
                            class="Search"
                        >
                            <img
                                src="/static/images/search.png"
                                alt="search"
                                width="35px"
                            />
                            <span> SEARCH </span>
                        </button>
                    </div>
                    {% if error %}
                    <p class="error">Error: {{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/nav.js"></script>
    </body>
</html>
